
@font-face {
  font-family: 'oxxo';
  font-style: normal;
  font-weight: 600;
  src: url('/libs/remark-css-0.0.1/jf-openhuninn.ttf'),url('/jf-openhuninn.ttf'),url("https://github.com/justfont/open-huninn-font/raw/master/font/jf-openhuninn-1.1.ttf"),url('https://github.com/jack60810/tku_rcrawler/raw/master/jf-openhuninn.ttf'),local("jf open 粉圓 1.1");
}
body{
  font-family: 'oxxo';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'oxxo';
}

body { font-family: 'oxxo'; font-size : 20px;}
h1, h2, h3 {
  font-family: 'oxxo';
  font-size : 24px;
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'oxxo';}
