
@font-face {
  font-family: 'oxxo';
  font-style: normal;
  font-weight: 600;
  src: url('https://drive.google.com/file/d/1JpAESs3bKGbpkpYWYqOtgpLaUCwZBGgD/view?usp=sharing');
}
body{
  font-family: 'oxxo';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'oxxo';
}

body { font-family: 'oxxo'; font-size : 20px;}
h1, h2, h3 {
  font-family: 'oxxo';
  font-size : 24px;
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'oxxo';}
